body {
	
}

body, pre{
	font-family:Roboto, Verdana, Sans Serif;
	color:;
	text-align:justify;
	font-size:1em;
	text-indent:70px;
	line-height:25px;
	word-spacing:3px;
	letter-spacing:2px;
}

h1 {
	font-family:"Roboto Slab", "Bookman Old Style", Serif;
	font-size:3em;
	color:#000000;
	text-align:center;
}

h2 {
	font-family:"Open Sans", Helvetica, Sans serif;
	font-size:1.75em;
	text-align:center;
	text-transform:uppercase;
}

h3 {
	font-family:"Noto Sans", Georgia, Serif;
	background-color:#000000;
	color:#FFFFFF;
}

ul {
	list-style: square inside;
}

#education {
	list-style-type: none;
	text-align:justify;
}

hr {
	size:3px;
}

img {
	width:125px;
	height:125px;
	padding:10px;
}

.pic {
	float:right;
	vertical-align:middle;
	border:1px solid black;
}

a:link {
	font-family:Abel, Verdana, "Sans Serif";
	font-size:1.15em;
	color:black;
	text-decoration:none;
}

a:visited {
	font-family:Abel, Verdana, "Sans Serif";
	font-size:1.15em;
	color:black;
	text-decoration:none;
}

a:hover {
	font-family:Abel, Verdana, "Sans Serif";
	font-size:1.15em;
	background-color:black;
	color:white;
	text-decoration:none;
}